.nav {
   position: absolute;
   right: 0;
   top: 0px;
   z-index: 10;
   ul {
      width: 600px;
      height: 45px;
      display: flex;
      justify-content: space-around;
   }
}

.nav ul li {
   display: flex;
   align-items: center;
   width: 100%;
   height: 45px;
   a {
      display: block;
      text-align: center;
      width: 100%;
      padding: 16.5px 0;
      transition: background-color, 0.35s;
      transition: color, 0.5s;
      outline: 0;
   }
   a:hover {
      background-color: #464646;
      color: $lightGrey;
   }
}

#navBar {
   background: white;
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 45px;
   fill: black;
   transition: all, 0.35s;
}

@media only screen and (max-width: 680px) {
   .nav {
      width: 100%;
      ul {
         display: flex;
         align-items: space-evenly;
         width: 100%;
      }
   }
   #navBar {
      z-index: 10;
   }
   .nav ul li {
      z-index: 10;
   }
}

@media only screen and (max-width: 444px) {
   .nav {
      height: auto;
      z-index: 20;
      ul {
         height: auto;
         flex-flow: column;
      }
   }
   .nav ul li {
      z-index: 10;
   }
   .nav ul li a {
      color: #a1a0a0;
      transition: background-color, 0.35s;
   }
   .nav ul li a:hover {
      background: #303030;
   }
   #navBar {
      background-color: #464646;
      z-index: 50;
      cursor: pointer;
   }
   #navArrow {
      display: block;
   }
}
