article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  color: #313131;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: .7rem;
}

p {
  margin: 10px 0 0 7px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: .9rem;
  letter-spacing: 1px;
  word-spacing: 3px;
  color: #434343;
}

.nav {
  position: absolute;
  right: 0;
  top: 0;
}

.nav ul {
  width: 600px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1440px;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

.bar {
  position: absolute;
  left: 0;
  height: 35px;
}

.bar2 {
  width: 35px;
}

#horizontalLine {
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  height: .5px;
  background: #c1c1c1;
}

#barContainer {
  position: absolute;
  top: 85px;
  height: 105px;
  min-width: 350px;
  width: 50%;
  max-width: 650px;
}

#horizontalBar1 {
  left: 0;
  top: 0px;
  width: 100%;
  background: #c1c1c1;
}

#horizontalBar2 {
  left: 0;
  top: 35px;
  width: 75%;
  max-width: 500px;
  background: #e2e2e2;
}

#horizontalBar3 {
  left: 0;
  top: 70px;
  width: 50%;
  background: #efefef;
}

#verticalLine {
  position: absolute;
  top: 0;
  left: 80px;
  height: 100vh;
  width: .5px;
  background: #9f9f9f;
}

#detail {
  display: block;
  position: absolute;
  bottom: 120px;
  left: 0px;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  color: #c1c1c1;
  font-size: .8rem;
  letter-spacing: 2px;
}

#vertBarContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  height: 80%;
}

#vertBarContainer #verticalBar1 {
  height: 100%;
  background: #c1c1c1;
}

#vertBarContainer #verticalBar2 {
  height: 80%;
  background: #e2e2e2;
}

#vertBarContainer #verticalBar3 {
  height: 70%;
  width: 55px;
  background: #efefef;
}

#detail2 {
  display: block;
  position: absolute;
  right: 80px;
  bottom: 50px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #4b4b4b;
  border: 1px solid red;
}

.headerContainer {
  position: absolute;
  top: 225px;
  left: 115px;
  z-index: 10;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.building {
  position: absolute;
  bottom: 20px;
  right: 15%;
  width: 380px;
  height: 740px;
  overflow: hidden;
  z-index: -10;
}

#buildingSegment1 {
  background: url(../../assets/building1.jpg);
  background-position: -40px 30px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 580px;
  width: 160px;
  bottom: -0px;
  right: 50px;
  z-index: 20;
}

#buildingSegment2 {
  background: url(../../assets/building2.jpg);
  background-position: -23px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  width: 200px;
  bottom: 30px;
  right: 95px;
  z-index: 10;
}

#buildingSegment3 {
  background: url(../../assets/building3-1.jpg);
  background-position: -25px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 490px;
  width: 156px;
  bottom: 20px;
  right: 182px;
  z-index: 30;
}
/*# sourceMappingURL=style.css.map */